<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      cardTitle="Mono Rato"
      cardDescription="Tititittiti"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq4SUximV4NM8SJTs7oaMNHFM2p4KdeBHJQwDBFf4Bug&s=10"
      id="1"
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      cardTitle="Mono Kaisa"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQepHE1_jpIh2o1_Jqja38NJlMf2P3A8FfAxWgorSqyKw&s=10"
      id="2"
    ></app-small-card>

    <app-small-card
      cardTitle="Mono Jinx"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-KNpFi3ZTDj3D7NZ4MFxjweXN4y4_yPsrr8-w9rNH8A&s=10"
      id="3"
    ></app-small-card>

    <app-small-card
      cardTitle="Mono Ezreal"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfy1eeJBVj4tSP7XFCXp7c0pM3ihX84ydHe0yvGrgtEg&s=10"
      id="4"
    ></app-small-card>
  </div>
</div>
