<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      [cardTitle]="principalNotice.title"
      [cardDescription]="principalNotice.description"
      [photoCover]="principalNotice.photoCover"
      [id]="principalNotice.id"
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      *ngFor="let notice of smallCardList"
      [cardTitle]="notice.title"
      [photoCover]="notice.photoCover"
      [id]="notice.id"
    ></app-small-card>
  </div>
</div>
